body {
  background-color:#484043;
  height:100%;
}

nav {
  margin:0 0 20 0;
  padding:0;
  height:20px;
  overflow:hidden;
  border-radius:15px 50px;
  background-color:#6e6568;
}

.b {
  display:block;
  float:left;
  color:white;
  font-family:"josefin sans",courier new,sans-serif;
  font-size:12px;
  text-align:center;
  padding:4px 50px;
  text-decoration:none;
  border-right:0px solid white;
}

.b:hover {
  background-color:#ead3a8;
  color:maroon;
}

.me {
  display:block;
  margin:auto;
  width:40%;
  box-shadow:2px 2px 5px black;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color:white;
  text-align:center;
  text-shadow:1px 1px 5px #ead3a8;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color:white;
  text-align:center;
}

h3 {
  font-family:'Josefin sans', sans-serif;
  color:white;
}

#mail {
  border:2px solid black;
  box-shadow:2px 2px 5px black;
  margin:15px;
  background-color:#6e6568;
  color:white;
  font-family:'Josefin sans', sans-serif;
}

#mail:hover {
  background-color:#ead3a8;
  color:maroon;
}

table {
  margin:auto;
}
table a {
  background-color:#6e6568;
  font-family:'Josefin Sans',sans-serif;
  border:groove;
  box-shadow:2px 2px 5px maroon;
}

form {
  border:2px solid black;
  box-shadow:2px 2px 5px black;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  background-color:#6e6568;
  margin:20px auto;
}

.pic {
  display: block;
  margin: auto;
  width: 5%;
}

.pic:hover {
transform: scale(1.3);
    transition: all 1s;
}